<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{web/fragments/layout}">
<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <title>Change Password</title>
</head>
<body onload="createCaptcha()">
<div layout:fragment="content" class="content">
    <!-- PAGE TITLE -->
    <div th:if="${message}" class="alert alert-dismissible fade show alert-success" role="alert">
        <span th:text="#{${message}}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div>
        <div class="card bg-info text-white">
            <div class="card-body">Change Password</div>
        </div>
    </div>
            <form action="#" th:object="${user}" th:action="@{/sign-up/change-password/save}" method="POST" id="target" style="margin-top: 10px">
                <input type="hidden" class="form-control" name="id" id="id" th:field="*{id}">
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="userId">User Name</label>
                        <input type="text" class="form-control" id="userId" name="userId" th:value="*{username}" disabled>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="password">Password </label>
                        <input type="password" name="password"
                               th:class="form-control"
                               id="password" placeholder="" autofocus="true">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="conformPassword">Confirm Password</label>
                        <input type="password" name="conformPassword" class="form-control" oninput="matchingPassword()" id="conformPassword"
                               placeholder="">
                        <div>
                            <h8 id="matchig" style="color: red"></h8>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6"><!--edited by toufiq-->
                        <div id="captcha">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="captcha" class="col-form-label-sm">Captcha</label>
                        <input type="text" autocomplete="off" class="form-control test" name="captcha" id="cpatchaTextBox"/><!--edited by toufiq-->
                        <!--edited by toufiq-->
                         <div>
                            <h8 id="conformCaptcha" style="color: red"></h8>
                        </div>
                    </div>
                    <div class="col-md-1 mb-3" style="margin-top: 35px">
                    <button class="btn bg-info" type="button" id="reloadCaptcha" onclick="createCaptcha()"><img th:src="@{/images/refresh.png}"><!--edited by toufiq-->
                    </button><!--edited by toufiq-->
                    </div>
                </div>

                <div class="form-footer pt-5 border-top">
                    <button class="btn btn-success" disabled id="btnSubmit" data-toggle="modal" data-target="#conformSubmit" type="button">Save</button>
                </div>
            </form>

    <!-- Modal -->
    <div class="modal fade" id="conformSubmit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are You Sure Want To Change Your Password ..?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" th:onclick="validateCaptcha()">Yes </button>
                </div>
            </div>
        </div>
    </div>
    <!--modal -->


<script>
    var code;
    function createCaptcha() {
        //clear the contents of captcha div first
        document.getElementById('captcha').innerHTML = "";
        var charsArray =
            "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@!#$%^&*";
        var lengthOtp = 6;
        var captcha = [];
        for (var i = 0; i < lengthOtp; i++) {
            //below code will not allow Repetition of Characters
            var index = Math.floor(Math.random() * charsArray.length + 1); //get the next character from the array
            if (captcha.indexOf(charsArray[index]) == -1)
                captcha.push(charsArray[index]);
            else i--;
        }
        var canv = document.createElement("canvas");
        canv.id = "captcha";
        canv.width = 100;
        canv.height = 50;
        var ctx = canv.getContext("2d");
        ctx.font = "25px Georgia";
        ctx.strokeText(captcha.join(""), 0, 30);
        //storing captcha so that can validate you can save it somewhere else according to your specific requirements
        code = captcha.join("");
        document.getElementById("captcha").appendChild(canv); // adds the canvas to the body element
    }

    function matchingPassword() {
        var x = document.getElementById("password").value;
        var y = document.getElementById("conformPassword").value;
        if (x!=y) {
            document.getElementById("matchig").innerHTML="Password don't match";
            $('#btnSubmit').attr("disabled", true)
            document.getElementById("matchig").style.color="red";
        }
        else{
            document.getElementById("matchig").innerHTML="Password match";
            document.getElementById("matchig").style.color="green";
            $('#btnSubmit').attr("disabled", false)
        }

    }

    //validate captcha

    function validateCaptcha() {
        event.preventDefault();
        debugger

        if (document.getElementById("cpatchaTextBox").value == code) {
            $( "#target" ).submit();
        }else{

            if(document.getElementById("cpatchaTextBox").value == ""){
                document.getElementById("conformCaptcha").innerHTML="Please input captcha code";
                document.getElementById("conformCaptcha").style.color="red";
            }
            else {
                document.getElementById("conformCaptcha").innerHTML="Captcha don't match,try again";
                document.getElementById("conformCaptcha").style.color="red";
                createCaptcha();
            }

        }
    }
</script>

    <style>
        canvas{
            /*prevent interaction with the canvas*/
            pointer-events:none;
        }

    </style>
</div>
</body>
</html>