<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{web/fragments/layout}">
<head>
    <title>M Booth Office</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <div th:if="${message}" class="alert alert-dismissible fade show alert-success" role="alert">
        <span th:text="#{${message}}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div th:if="${error}" class="alert alert-dismissible fade show alert-danger" role="alert">
        <span th:text="#{${error}}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="page-title">
        <div class="card bg-info text-white">
            <div class="card-body"><a th:href="@{/mBoothOffice/search}"><img th:src="@{/images/back2.png}"
                                                                             style="margin-right: 10px"></a>M Booth Office search
            </div>

        </div>
    </div>
    <!-- END PAGE TITLE -->
    <div id="home-main-content">
            <form action="#" method="post" style="margin-top: 10px">
                <input type="hidden" id="id" name="id">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="officeName">Office Name <span style="color: red">*</span></label>
                        <input type="text" class="form-control" id="officeName" name="officeName"
                               >
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="officeCode">Office Code <span style="color: red">*</span></label>
                        <input type="text" class="form-control" id="officeCode" name="officeCode"
                               >
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="address">Address <span style="color: red">*</span></label>
                        <textarea class="form-control" id="address" name="address">
                        </textarea>

                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="upazila">Upazila<span style="color: red">*</span></label>
                        <input type="text" class="form-control" id="upazila" name="upazila"
                        >

                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="district">District <span style="color: red">*</span></label>
                        <input type="text" class="form-control" id="district" name="district"
                        >

                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="contactNo">Contact No  <span style="color: red">*</span></label>
                        <input type="text" class="form-control" id="contactNo" name="contactNo"
                        >
                    </div>


                </div>

                <div class="form-row">

                    <div class="col-md-4 mb-3">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email"
                        >
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="web">Web</label>
                        <input type="text" class="form-control" id="web" name="web"
                        >

                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="activeStatus">Active Status</label>
                        <div class="form-inline">
                            <input type="checkbox"
                                   class="'form-control'"
                                   id="activeStatus" placeholder=""
                                   style="height: 30px;width: 30px" checked>
                        </div>
                    </div>


                </div>

                 <div class="modal-footer">
                     <div class="col-md- mb-3">
                         <button class="btn btn-xl btn-success" type="submit"><i class="zmdi zmdi-save"></i> Save</button>
                     </div>
                 </div>
            </form>
    </div>
</div>
</body>
</html>